#backtosite
{
	display: block;
	font-size: 0.75rem;
	text-align: right;
	text-transform: uppercase;
}
#optcalculator
{
	margin: auto;
	width: 100%;
}
#optcalculator h2
{
	text-align: center;
}
#previousOPT
{
	padding-bottom: 1.3rem;
}
#pt2, #pt3, #pt4, #pt5, #pt6, #summary, #emailme
{
	display: none;
}
#startselect-inner
{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 1rem;
}
#startselect-inner label
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right: 1rem;
}
#summary .bubble
{
	background-color: #c20022;
}
#summary table
{
	border: none;
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}
#summary table th
{
	font-weight: bold;
}
#summary table th, td
{
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-collapse: collapse;
	padding: 1rem;
}
#text1
{
	display: none;
}
*
{
	font-family: "Libre Franklin";
	scroll-behavior: smooth;
}
.appear
{
	animation: fadein 1.5s ease;
}
.appearDelay
{
	animation: 1s fadein 0.5s ease-in-out both;
}
.btnrow
{
	display: flex;
	justify-content: center;
}
.bubble
{
	background-color: #00a8a3;
	border-radius: 10px;
	color: white;
	display: inline-block;
	font-weight: 600;
	margin: 0.2rem;
	padding: 0.2rem 0.4rem;
	position: relative;
}
.bubble:hover > .timeSpan, .bubble:active > .timeSpan
{
	animation: fadeInFromNone 2s cubic-bezier(0.075, 0.82, 0.165, 1);
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 10px;
	bottom: -130%;
	box-shadow: 1rem 1rem 1rem rgb(0 0 0 / 10%);
	color: white;
	display: block;
	font-size: 0.7rem;
	font-weight: normal;
	left: 0%;
	opacity: 1;
	padding: 0.4rem;
	position: absolute;
	text-align: center;
	width: 120%;
	z-index: 2;
}
.bubble:hover, .bubble:active
{
	cursor: pointer;
}
.calc-section
{
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin: 1.4rem auto;
	padding: 1rem;
}
.disappear
{
	animation: fadeout 1s ease;
}
.nxtBtn
{
	margin-top: 1rem;
}
.opt-row
{
	background-color: #f0f0f0 !important;
	display: flex;
	margin: 1.5rem auto !important;
}
.opt-row input, .opt-row select
{
	border: 0;
	margin-top: 0.3rem;
	padding: 0.5rem;
}
.row-wrap
{
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 1rem;
}
.timeSpan
{
	display: none;
	opacity: 0;
}
@keyframes fadein
{
	from
	{
		opacity: 0;
	}
	to
	{
		opacity: 1;
	}
}
@keyframes fadeInFromNone
{
	0%
	{
		display: none;
		opacity: 0;
	}
	1%
	{
		display: block;
		opacity: 0;
	}
	100%
	{
		display: block;
		opacity: 1;
	}
}
@keyframes fadeout
{
	from
	{
		opacity: 1;
	}
	to
	{
		opacity: 0;
	}
}
[data-pt="pt2"]
{
	display: none;
}
body
{
	background-size: 110%;
	margin: 0;
	padding: 0;
}
h2
{
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: 2rem;
}
hr
{
	border: 1px solid rgba(150, 150, 150, 0.1);
}
i
{
	color: #c20022;
}
input[type="submit"], button
{
	background-color: #012563;
	border: 0px;
	border-radius: 5px;
	color: white;
	padding: 0.5rem;
	transition: 0.5s ease all;
}
input[type="submit"]:hover, button:hover
{
	background-color: rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
label[for="emailinput"]
{
	display: flex;
	flex-direction: column;
	margin-bottom: 1.3rem;
}
select
{
	background-color: rgba(0, 0, 0, 0.075);
	border: none;
	border-radius: 5px;
	margin-top: 0.2rem;
	padding: 0.5rem;
}
